@model Sklad.Models.Recipients

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipients</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fakultet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fakultet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kafedra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kafedra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipienter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipienter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
